<div class="login">
	<div class="container">
		<div class="form">

      <h1>Weclome to Song Shop</h1>
      
      <img src="http://www.wpclipart.com/buildings/shop.png" style="width:290px;height:150px;">
      
	  <%= form_for(:session, url: login_path) do |f| %> 
        <%= f.text_field :username, :placeholder => "Username" %> 
        <%= f.password_field :password, :placeholder => "Password" %> 
        <%= f.submit "Log In", class: "btn-submit" %>
      <% end %>
      
      <br>
      <%= link_to 'Sign Up', signup_path %>
      
    </div>
	</div>
</div>