<p id="notice"><%= notice %></p>

<p>Log in as: <%= current_user.username %></p>

<h1>Customer Information</h1>

<img src="https://mbbooking.com.ph/media/images/notAllowed.png" style="width:290px;height:200px;">

<table style = "border-style: dotted solid">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.username %></td>
        <td><%= customer.password %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Remove', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>

<br><br>

<p style = "font-size: 22px; font-weight: bold; color: blue">Links</p>

<%= link_to 'List of Items', items_path %>
<%= link_to 'Your Order', orders_path %>
<%= link_to 'Your Cart', carts_path %>

<br><br>
<%= link_to "Logout", 'logout' %>