<p id="notice"><%= notice %></p>

<p>Log in as: <%= current_user.username %></p>

<h1>Your Carts</h1>

<img src="http://www.shopfactory.com/contents/media/3d3-cart-reverted.gif" style="width:290px;height:100px;">

<table table style = "border-style: dotted solid">
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <% if cart.user.username == current_user.username || current_user.admin? %>
          <td><%= cart.user_id %></td>
          <td><%= cart.user.username %></td>
          <td><%= link_to 'Show', cart %></td>
          <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
          <td><%= link_to 'Remove', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Checkout', new_order_path %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cart', new_cart_path %>

<br><br><%= link_to "Logout", 'logout' %><br>

<p style = "font-size: 22px; font-weight: bold; color: blue">Links</p>

<%= link_to 'User Information', users_path %>
<%= link_to 'List of Items', items_path %>
<%= link_to 'Your Order', orders_path %>