<p id="notice"><%= notice %></p>

<h1>List of Items</h1>

<img src="https://www.schooltoolbox.com/stbDirect/images/home2.png" style="width:290px;height:100px;">

<table table style = "border-style: dotted solid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Qauntity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.qauntity %></td>
        <td><%= number_to_currency item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

<br><br>

<p style = "font-size: 22px; font-weight: bold; color: blue">Links</p>

<%= link_to 'Customer Information', customers_path %>
<%= link_to 'Your Order', orders_path %>
<%= link_to 'Your Cart', carts_path %>
