<p id="notice"><%= notice %></p>

<p>Log in as: <%= current_user.username %></p>

<h1>List of Candy</h1>

<img src="http://www.picksweetique.com/images/home-slider/store-photo-main02.jpg" style="width:350px;height:180px;">

<table table style = "border-style: dotted solid">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <% if item.quantity <= 0 %>
          <td>Out of Stock</td>
        <% end %>
        <% if item.quantity >= 1 %>
          <td><%= item.quantity%></td>
        <% end %>
        <td><%= number_to_currency item.price %></td>
        <td><%= link_to 'Add to Cart', item %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin? %>
  <%= link_to 'New Item', new_item_path %>
<% end %>

<br><br><%= link_to "Logout", 'logout' %><br>

<p style = "font-size: 22px; font-weight: bold; color: blue">Links</p>

<%= link_to 'User Information', users_path %>
<%= link_to 'Your Cart', carts_path %>
<%= link_to 'Your Order', orders_path %>